<template name='Scheduler'>
   
   <div class='page-header'>
      <h1>Scheduler</h1>
   </div>

      
   {{#if isInRole 'admin'}}

   <div class='container-fluid'>
      <div class='row'>
         <div class="col-md-12">
            {{> quickForm collection="Calls" id="insertCallsForm" type="insert"}}
         </div>
      </div>
   </div>
   
   <div class='page-header'>
      <h3 class="panel-title"><b>Calls List</b></h3>
   </div>
   
   <div class="table-responsive">
      <table class='table'>
         <thead>
            <tr>
               <th>callsID</th>
               <th>Terminal name</th>
               <th>Appointment</th>
               <th>Modality</th>
            </tr>
         </thead>
         <tbody>
            {{#each calls}}
            <tr>
               <td>{{_id}}</td>
               <td>{{terminalname}}</td>
               <td>{{appointment}}</td>
               <td>{{modality}}</td>
               <td><button class='edit-user btn btn-danger'>edit</button></td>
            </tr>
            {{/each}}
         </tbody>
      </table>
   </div>
   {{else}}
   <p>Sorry you have no access to this userlist.</p>
   {{/if}}
   
</template>