<template name='Scheduler'>
   {{#animate wrap='true' type='shake' delay='100'}}
   <div class='page-header'>
      <h1>Register or edit the calls</h1>
   </div>
   {{/animate}}
      
   {{#if Template.subscriptionsReady }} 
      {{#if isInRole 'admin, planner'}}
         {{#if entercalls}}
            <div class='panel'>
               <button class='btn btn-default newentry-btn'>filter only mode</button>
            </div>
         {{else}}
            <div class='panel'>
               <button class='btn btn-default newentry-btn'>new entry mode</button>
            </div>
         {{/if}}
         {{#if editcalls }}
            <div class="panel panel-danger">
               <div class="panel-heading">Edit the call</div>
               <div class="panel-body">
                  {{> quickForm collection="Calls" doc=selectedcall id="updateCall" type="update"}}
               </div>
            </div>
         {{/if}}
         {{#if entercalls}}
         <div class="panel panel-default">
               <div class="panel-heading">Enter a new call</div>
               <div class="panel-body">
                  {{> quickForm collection="Calls" id="insertCallForm" type="insert"}}
               </div>
            </div>
            <div class='page-header'>
               <h3 class="panel-title"><b>Calls List</b></h3>
            </div>
         {{/if}}
            {{> reactiveTable collection=calls settings=rtsettings}}
      {{else}}
         <p>Sorry you have no access to this calls list.</p>
      {{/if}}
   {{else}}
      {{>spinner}}
   {{/if}}
</template>

<template name='buttonhelper'>
   {{!--buttonhelper is a small template to help in the scheduler.js file--}}
   {{!--to render the buttons into a reactiveTable column. Must be included--}}
   {{!--into this file to work.--}}
   <td>
      <button class='btn btn-primary toggle-edit'>edit</button> {{> quickRemoveButton collection="Calls" _id=this._id onSuccess=onSuccess beforeRemove=beforeRemove class='btn btn-danger removecall-btn'}}
   </td>
</template>