<template name='Resources'>
   <div class='page-header'>
      <h1>Register or edit resources</h1>
   </div>
   
   {{#if isInRole 'admin'}}
   
      {{#if editresources }}
         <div class="panel panel-danger">
            <div class="panel-heading">Edit the resource</div>
            <div class="panel-body">
               {{> quickForm collection="Resources" doc=selectedresource id="updateResource" type="update"}}
               <button class='btn btn-danger toggle-edit-ne'>new entry mode</button>
            </div>
         </div>
      {{else}}
         <div class="panel panel-default">
            <div class="panel-heading">Enter a new Resource</div>
            <div class="panel-body">
               {{> quickForm collection="Resources" id="insertResourceForm" type="insert"}}
            </div>
         </div>
      {{/if}}
      
   <div class='page-header'>
      <h3 class="panel-title"><b>Resources List</b></h3>
   </div>
   
   <div class="table-responsive">
      <table class='table'>
         <thead>
            <tr>
               <th>resourceID</th>
               <th>Resource name</th>
               <th>Owner</th>
               <th>for Company</th>
            </tr>
         </thead>
         <tbody>
            {{#each resources}}
            <tr>
               <td>{{_id}}</td>
               <td>{{name}}</td>
               <td>{{owner}}</td>
               <td>{{forcompany}}</td>
               <td>
                  <button class='btn btn-primary toggle-edit'>edit</button>
                  {{> quickRemoveButton collection="Resources" _id=this._id class='btn btn-danger'}}
               </td>
            </tr>
            {{/each}}
         </tbody>
      </table>
   </div>
   {{else}}
   <p>Sorry you have no access to this Resource.</p>
   {{/if}}

</template>