<template name='Terminals'>
   <div class='page-header'>
      <h1>Register or edit terminals</h1>
   </div>
   {{#if Template.subscriptionsReady }}
      {{#if isInRole 'admin'}}
         {{#if editterminal }}
            <div class="panel panel-danger">
               <div class="panel-heading">Edit the terminal</div>
               <div class="panel-body">
                  {{> quickForm collection="Terminals" doc=selectedterminal id="updateTerminal" type="update"}}
                  <button class='btn btn-danger toggle-edit-ne'>new entry mode</button>
               </div>
            </div>
         {{else}}
            <div class="panel panel-default">
               <div class="panel-heading">Enter a new terminal</div>
               <div class="panel-body">
                  {{> quickForm collection="Terminals" id="insertTerminalForm" type="insert"}}
               </div>
            </div>
         {{/if}}
         <div class='page-header'>
            <h3 class="panel-title"><b>Terminal List</b></h3>
         </div>
         <div class="table-responsive">
            <table class='table'>
               <thead>
                  <tr>
                     <th>terminalID</th>
                     <th>Terminal name</th>
                  </tr>
               </thead>
               <tbody>
                  {{#each terminals}}
                     <tr>
                        <td>{{_id}}</td>
                        <td>{{name}}</td>
                        <td>
                           <button class='btn btn-primary toggle-edit'>edit</button> {{> quickRemoveButton collection="Terminals" _id=this._id class='btn btn-danger'}}
                        </td>
                     </tr>
                  {{/each}}
               </tbody>
            </table>
         </div>
      {{else}}
         <p>Sorry you have no access to this terminal list.</p>
      {{/if}}
   {{else}}
      {{>spinner}}
   {{/if}}
</template>