<template name='Editform'>
   <form class="panel-body form-horizontal">
   
      <div class="form-group">
         <label for="locationname" class="col-sm-2">Location name</label>
         <div class="col-sm-10">
            <select type="text" class="form-control" id="locationname">
                                 <option value='selectone'>(Select One)</option>
                                 {{#each locations}}
                                    <option value={{name}}>{{name}}</option>
                                 {{/each}}
                              </select>
         </div>
         <label for="appointment" class="col-sm-2">Appointment</label>
         <div class="datetimepicker">
            <div class="col-sm-10">
               <input class="set-due-date form-control" id="appointment" type="text" />
            </div>
         </div>
         <label for="modality" class="col-sm-2">Modality</label>
         <div class="col-sm-10">
            <select type="text" class="form-control" id="modality">
                                    <option value='selectone'>(Select One)</option>
                                    <option value='barge'>barge</option>
                                    <option value='rail'>rail</option>
                                    <option value='truck'>truck</option>
                              </select>
         </div>
         <label for="resource" class="col-sm-2">Resource name</label>
         <div class="col-sm-10">
            <select type="text" class="form-control" id="resource">
                                 <option value='selectone'>(Select One)</option>
                                 {{#each resources}}
                                    <option value={{name}}>{{name}}</option>
                                 {{/each}}
                              </select>
         </div>
         <input type="submit" value="Submit" class="btn btn-primary submit" />
      </div>
   
   </form>
   
</template>                     