<template name='HomeLayout'>
   <header>
      {{> navigation}}
   </header>
   <main class='mainpagepadder'>
      <div class="container">
         <h1>{{datenow}}</h1>
         <div class='routingschedule'>
            <div class="col-md-5">
               <div class="container">
                  <h1>Today</h1> {{> reactiveTable class='col-md-5' showFilter=false showNavigation='never' collection=callstoday settings=rtsettingstoday rowsPerPage=20}}
               </div>
            </div>
            <div class="col-md-5 col-md-offset-1">
               <div class="container">
                  <h1 class='col-md-5 col-md-offset-1'>Tomorrow and further</h1> {{> reactiveTable class='col-md-5 col-md-offset-1' showFilter=false showNavigation='never' collection=callstommorow settings=rtsettingstommorow rowsPerPage=20}}
               </div>
            </div>
         </div>
      </div>
   </main>
</template>