<template name='Planning'>
   {{#animate wrap='true' type='flipInX' delay='100' }}
      <div class='page-header'>
         <h1>Your calls</h1>
      </div>
   {{/animate}}
   
   {{#if Template.subscriptionsReady }}
   
      {{#if isInRole 'admin, resource-operator'}}
   
         <div class="container">
            {{#each calls}}
               <div class="row">
                  <div class="panel panel-{{colorpan}}">
                     <div class="panel-heading">
                        <h3 class="panel-title"><b>{{locationname}}</b> at {{formatDatetime appointment}} ({{status}})</h3>
                     </div>
   
                     <div class="panel-body">
   
   
                        <div class="form-group">
                           {{#if inlandlocationcheck calltype}} 
                           <div class="row panel-body">
                              <div class="col-xs-8 col-sm-10">
                                 <input type="text" class="form-control" id="etafromresource" value="{{formatDatetime etafromresource}}" readonly>
                              </div>
                                                      <button type="col-sm-2 col-xs-4 button" class="btn btn-primary" id="submiteta">
                                                <span class="glyphicon glyphicon-archive" aria-hidden="true"></span>Submit ETA
                                             </button>
                           </div>

                           {{/if}}
                           <div class="row panel-body">
                              <div class="col-xs-8 col-sm-10">
                                 <input type="text" class="form-control" id="arrivaltime" value="{{formatDatetime arrivaltime}}" readonly>
                              </div>
                              <div class="col-sm-2">
                                 <button class="btn btn-danger arrival">arrival</button>
                              </div>
                           </div>
                           <div class="row panel-body">
                              <div class="col-xs-8 col-sm-10">
                                 <input type="text" class="form-control" id="departuretime" value="{{formatDatetime departuretime}}" readonly>
                              </div>
                        
                              <div class="col-sm-2">
                                 <button class="btn btn-success departure">departure</button>
                              </div>
                           </div>
                        </div>
   
                     </div>
                     
                        <div class="panel-body">
                     
                     
                           <button type="col-sm-3 col-xs-4 button" class="btn btn-warning" id="archiveit">
                                                                     <span class="glyphicon glyphicon-archive" aria-hidden="true"></span>Archive
                                                                  </button>
                        </div>

                  </div>
               </div>
            {{/each}}
         </div>
   
      {{else}}
         <p>Sorry you have no access to this calls list.</p>
      {{/if}}
   
   {{else}}
      {{>spinner}}
   {{/if}}
   
</template>