<template name='HomeLayout'>
   <header>
      {{> navigation}}
   </header>
   
   <main class='mainpagepadder'>
   
      <div class="container">
         <h1>{{datenow}}</h1>
      </div>
      <div class="container">
         <div class="row">
            <div class="col-md-6 container">
               <h1>Today</h1>
               <div class="">
                  <table class="table table-condensed table-responsive table-bordered">
                     <thead>
                        <tr>
                           <th></th>
                           <th>time</th>
                           <th>terminal</th>
                           <th>resource</th>
                           <th>status</th>
                        </tr>
                     </thead>
                     <tbody>
                        {{#each callstoday}}
                        <tr>
                           <td class='col-md-1 text-center'><i class='{{modalityicon modality}}' aria-hidden='true'></i></td>
                           <td class='col-md-1'>{{formattoTime appointment}}</td>
                           <td class='col-md-4'>{{terminalname}}</td>
                           <td class='col-md-4'>{{resourcename}}</td>
                           <td class='col-md-2 text-center {{colorpan}}'>{{status}}</td>
   
                        </tr>
                        {{/each}}
                     </tbody>
                  </table>
               </div>
            </div>
            <div class="col-md-6  container">
               <h1>Later Calls</h1>
               <div class="">
                  <table class="table table-condensed table-responsive table-bordered">
                     <thead>
                        <tr>
                           <th></th>
                           <th>time</th>
                           <th>terminal</th>
                           <th>resource</th>
                           <th>status</th>
                        </tr>
                     </thead>
                     <tbody>
                        {{#each callstommorow}}
                        <tr>
                           <td class='col-md-1 text-center'><i class='{{modalityicon modality}}' aria-hidden='true'></i></td>
                           <td class='col-md-2'>{{formattoDatetime appointment}}</td>
                           <td class='col-md-4'>{{terminalname}}</td>
                           <td class='col-md-3'>{{resourcename}}</td>
                           <td class='col-md-2 text-center {{colorpan}}'>{{status}}</td>
   
                        </tr>
                        {{/each}}
                     </tbody>
                  </table>
               </div>
            </div>
         </div>
      </div>
   </main>
</template>